<div class="container">
    <div class="h4 mt-3 text-center">В вашей корзине:</div>
    {% set totalCartPrice = 0 %}
    {% for item in __SELF__.cart.items %}
        {% set totalCartPrice = totalCartPrice + item.total %}
        <div id="cartItem{{ item.id }}">
            {% partial __SELF__~"::make_cart_item" item = item %}
        </div>
    {% else %}
        <div class="alert alert-info">Ваша корзина пуста, скорее добавьте товар в неё!</div>
    {% endfor %}
    <div class="mt-3 h5 text-center">
        Итого: <strong id="totalCartPrice">{{ totalCartPrice }}</strong> руб
    </div>
</div>


