{% if not quantity %}
    {% if item.quantity > 0 %}
        {% set quantity = 1 %}
    {% else %}
        {% set quantity = 0 %}
    {% endif %}
{% endif %}
<div class="me-2">
    <a href="javascript:void(0);"
       data-request="onRemoveQuantity"
       data-request-data="offer_id: '{{ item.id }}', quantity: '{{ quantity }}'">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
    </a>
</div>
<div class="me-2">
    {{ quantity }}
    <input class="form-control" name="quantity" type="hidden" value="{{ quantity }}">
</div>
<div class="me-2">
    <a href="javascript:void(0);"
       data-request="onAddQuantity"
       data-request-data="offer_id: '{{ item.id }}', quantity: '{{ quantity }}'">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
    </a>
</div>
