{% set item = __SELF__.product %}
<div class="container">
    <div class="row g-2">
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="d-flex justify-content-start align-items-start flex-column">
                        {% partial __SELF__~"::make_category_list" item = __SELF__.category %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="h3">{{ item.title }}</div>
                    {% for item in item.offers %}
                        <div id="offer{{ item.id }}">
                            <form data-request="onAddToCart" data-request-data="offer_id: '{{ item.id }}'">
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div>{{ item.price }}</div>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div>
                                            <input class="form-control" name="quantity" type="number" value="1">
                                        </div>
                                        <div>
                                            <button
                                                type="submit"
                                                class="btn btn-success"
                                            >Добавить в корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="alert alert-danger my-3">Данный товар отсутствует!</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


